@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-gray-900 antialiased;

    /* Dégradé France-Maroc */
    background: linear-gradient(
      135deg,
      #3b82f6 0%,   /* bleu France */
      #ffffff 20%, /* blanc */
      #ef4444 40%, /* rouge France */
      #dc2626 60%, /* rouge Maroc */
      #ffffff 80%, /* blanc */
      #16a34a 100% /* vert Maroc */
    );
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
  }
}
